 <head>
 <br/> <br/>
 <br/> <br/>
 <br/> <br/>
 <br/> <br/>
  <h1>Total: {{total}}</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        let data = google.visualization.arrayToDataTable([
          ['Expanses', 'Total costs(in percenteges)'],
          ['Hotel',  {{hotel}}],
          ['Food',  {{food}}],
          ['Flight', {{flight}}],
          ['Car Rental', {{car}}]
        ]);

      let options = {
        pieSliceText: 'label',
        title: 'Your Holiday Expanses',
        pieStartAngle: 110,
      };
        let chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 400px;"></div>
  </body>



<form action="/piechart/{{id}}" method="POST">
<button>Home</button>
</form>